install
cdrom
lang en_GB
keyboard --vckeymap=uk --xlayouts='gb'
network --bootproto=dhcp --activate
rootpw REPLACEWITHROOTPASSWORD
firewall --enabled --ssh
selinux --permissive
timezone Europe/London --isUtc
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart --type=lvm
auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
user --name=REPLACEWITHLINUXUSERNAME --plaintext --password=REPLACEWITHLINUXUSERPASS --groups=wheel
reboot

%packages --ignoremissing --excludedocs
@core
sudo
net-tools
ntp
ntpdate
vim
wget
curl
git
yum-utils
cloud-utils-growpart

# unnecessary firmware
-aic94xx-firmware
-alsa-*
-btrfs-progs*
-centos-logos
-dracut-config-rescue
-dracut-network
-microcode_ctl
-NetworkManager*
-ivtv-firmware
-iwl*firmware
-plymouth*
%end

%post
# Build date used for motd
BUILDDATE="REPLACEWITHBUILDVERSION"
NAME="CentOS 7"
DOCS="https://github.com/v12n-io/packer"

# Create MOTD
echo "Creating /etc/motd"
mv /etc/motd /etc/motd-backup
cat << MOTD > /etc/motd

           {__   {__ {_            
{__     {__ {__ {_     {__{__ {__  
 {__   {__  {__      {__   {__  {__
  {__ {__   {__    {__     {__  {__
   {_{__    {__  {__       {__  {__
    {__    {____{________ {___  {__
            v12n ($NAME $BUILDDATE)
            $DOCS

MOTD

# MOTD symlinks
echo "Creating /etc/motd symlinks"
ln -sf /etc/motd /etc/issue
ln -sf /etc/motd /etc/issue.net

# sudo
echo "REPLACEWITHLINUXUSERNAME        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/REPLACEWITHLINUXUSERNAME
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end