# Red Hat Enterprise Linux Server 8
# Kickstart Generator: https://access.redhat.com/labs/kickstartconfig/

lang en_GB
keyboard keyboard --vckeymap=uk --xlayouts='gb'
timezone UTC
rootpw --plaintext REPLACEWITHADMINPASS
user --name=REPLACEWITHUSERNAME --plaintext --password=REPLACEWITHUSERPASS --groups=wheel
cdrom
reboot --eject
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
autopart
text
eula --agreed
clearpart --all --initlabel
auth --passalgo=sha512 --useshadow
firewall --enabled --ssh
skipx
selinux --enforcing
firstboot --disable
network --noipv6

%post
yum install -y sudo open-vm-tools perl
echo "REPLACEWITHUSERNAME ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/REPLACEWITHUSERNAME
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end

%packages --ignoremissing --excludedocs
@core
sudo
net-tools
ntp
ntpdate
vim
wget
curl
perl
git
yum-utils
unzip
%end